<p id="notice"><%= notice %></p>

<!--Accordion wrapper-->
<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
  <h1 class="text-white font-weight-bold">Exotica</h1>
    <% @menu.each do |course_id, dishes| %>
        <% course = get_course(course_id) %>
      <div class="card">
        <a data-toggle="collapse" href="#collapse<%= course_id%>" aria-expanded="false" aria-controls="collapse<%= course_id%>">
          <div class="card-header accordian-collapse lighten-3 z-depth-1" role="tab" id="course<%= course_id%>">
            <h5 class=" text-white font-weight-bold text-uppercase mb-0 py-1">
              <%= course.name%>
            </h5>
          </div>
        </a>
        <div id="collapse<%= course_id%>" class="collapse" role="tabpanel" aria-labelledby="course<%= course_id%>" data-parent="#accordionEx23">
            <div class="card-body">
                <div class="row my-4">
                    <div class="col-md-8">
                        <!-- <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2> -->
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Discription</th>
                              <th>Price</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% dishes.each do |dish| %>
                              <tr>
                                <td><%= link_to dish.name, edit_dish_path(dish, course_id: course.id) %></td>
                                <td><%= dish.description%></td>
                                <td>&#x20b9;<%= dish.price%></td>
                              </tr>
                            <% end %>
                            
                          </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 mt-3 pt-2">
                        <div class="view z-depth-1">
                          <%= image_tag("#{course.name.parameterize}.jpg", alt: "#{course.name}", class: "img-fluid") %>
                        </div>
                    </div>
                </div>
                <%= link_to 'New Dish', new_dish_path(course_id: course.id), class: "text-white btn btn-primary" %>
            </div>
        </div>
      </div>
    <% end %>
</div>

